@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    background: black;
}

section {
    padding: 5rem 9%;
}
.heading{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 0.3rem;
    margin-bottom: 6rem;
}
.heading span{
    text-transform: uppercase;
    color: #08088d;
}
.btn {
    display: inline-block;
    color: white;
    background: transparent;
    border: solid 1px #08088d;
    border-radius: 3rem; 
    font-size: 1.2rem;
    margin-top: 0.7rem;
    padding: 0.7rem;
    cursor: pointer;
}

.btn:hover {
    background: #2020e9;
}

.btn i {
    color: #5353b3;
    padding-left: 0.9rem;
}

html {
    font-size: 90%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* navbar ---------------------------------------------------------------*/
.navbar {
    background: #141313;
    display: flex;
    align-items: end;
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4.5rem;
}

.navbar a {
    padding: 1.3rem;
    font-size: 1.3rem;
    flex-grow: 1;
    color: white;
    transition: 0.5s;
    text-align: center;
}

.navbar a:hover {
    background: #2020e9;
    height: 3.8rem;
}

.navbar a i {
    color: #5353b3;
    padding-right: 0.6rem;
}
/* home section starts -------------------------------------------------------------*/
.home {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    min-height: calc(100vh - 4.5rem);
}
.home .video-back{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}


.home .profile {
    flex: 1 1 35rem;
    text-align: center;
}

.home .profile img {
    height: 38rem;
    width: 38rem;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.content {
    flex: 1 1 35rem;
}

.content h1 {
    color: white;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.content span {
    display: block;
    color: #2020e9;
    font-size: 2rem;
}

.content p {
    color: white;
    padding: 0.5rem 0;
    letter-spacing: 0.2rem;
}
/* section about starts ------------------------------------------------------------- */
.about{
    background: black;
}
.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}
.about .info-container{
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 38rem;
}
.info-container h1{
    color: white;
    font-size: 2.2rem;
    padding: 0.5rem 0rem;
}
.info-container .box-container{
    display: flex;
    padding: 1rem 0;
    flex-wrap: wrap;
    gap: 2rem;
}
.info-container .box-container .box{
  flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 22rem;
   background: none;
   text-align: left;
}
.info-container .box-container .box h3{
    color: white;
    padding: 0.2rem 0;
    font-size:1.1rem;
    text-transform: none;
}
.info-container .box-container .box h3 span{
    font-weight: lighter;
    color: #726a6a;
}
.count-container{
   display: flex;
   flex-wrap: wrap;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 38rem;
   gap: 1.5rem;
}
.count-container .box{
  padding: 1rem 4rem;
  border-radius: 1rem;
  background: #353333;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 17rem;
  text-align: center;
  transition: 0.5s;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.4rem blue;
}
.count-container #shadow01:hover{
box-shadow: -0.5rem -0.5rem 0.5rem 0.4rem red;
}
.count-container #shadow02:hover{
    box-shadow: 0.5rem -0.5rem 0.5rem 0.4rem red;
}
.count-container #shadow03:hover{
    box-shadow: -0.5rem 0.5rem 0.5rem 0.4rem red;
}
.count-container #shadow04:hover{
    box-shadow: 0.5rem 0.5rem 0.5rem 0.4rem red;
}
.count-container .box h3{
    font-size: 1.9rem;
    color: #08088d;
    padding: 0.2rem 0;
}
.count-container .box p{
    color: white;
    font-size: 1.2rem;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}
.box-container .box{
   background: #141313;
   text-align: center;
   transition: 0.5s ease;
   cursor: pointer;
}
.box-container .box img{
    padding: 0.8rem 0rem;
    height: 7rem;
}
.box-container .box h3{
    color: white;
    text-transform: uppercase;
    padding: 0.5rem 0;
}
.education .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}
.education .box-container .box{
    background: none;
    text-align: left;
    flex: 1 1 40rem;
    margin-left: 2rem;
    padding-left: 3.5rem;
    padding-bottom: 2rem;
    border-left: solid 0.1rem #726a6a;
    position: relative;
    color: white;
}
.education .box-container .box i{
    height: 3.5rem;
    width: 3.5rem;
    line-height: 3.5rem;
    font-size: 1.7rem;
    border-radius: 50%;
    background: #08088d;
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    left: -2rem;
}
.education .box-container .box span{
    font-size: 0.9rem;
    padding: 0.5rem;
    margin-bottom: 0.3rem;
    background: #0c0c0c;
    border-radius: 2rem;
}
.education .box-container .box p{
    font-size: 1rem;
    color: #353333;
    text-transform: capitalize;
}
.portfolio .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.portfolio .box-container .box{
    height: 30rem;
    position: relative;
    overflow: hidden;
}
.portfolio .box-container .box:hover{
    .content{
        transform: translateY(0);
    }
}
.portfolio .box-container .box img{
    height: 100%;
    width: 100%;
    padding: 0rem 0rem;
    object-fit: cover;
}
.portfolio .box-container .box .content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #141313;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /*hidde content */
    transform: translateY(-100%);
    transition: 0.5s linear;
}
.portfolio .box-container .box .content h3{
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 0.1rem;
}
.portfolio .box-container .box .content p{
    color: #726a6a;
    line-height: 2rem;
}
.portfolio .box-container .box .content a{
    color: #2020e9;
    font-size: 1.2rem;
    font-weight: 500;
    border: solid 1px #08088d;
    background: white;
    padding: 0.4rem;
    margin-top: 2rem;
    border-radius: 2rem;
}
.portfolio .box-container .box .content a:hover{
    background: none;
}
.blogs .box-container{
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    .box{
        text-align: center;
        padding: 2rem;
        border-radius: 0.5rem; 
        box-shadow: inset 0rem 0rem 1.1rem 0.6rem blue;  
    }
    .image{
        height: 20rem;
        width: 100%;
        border-radius: 0.5rem;
        overflow: hidden;
    }
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: 0.5s linear;
    }
    img:hover{
        transform: scale(1.2);
    }
    .content{
        width: 100%;
        text-align: center;
        position: relative;
    }
    .content .icons{
        position: absolute;
        left: 6.5rem;
        top: -1.5rem;
        border: solid 1px black;
        width: fit-content;
        margin: auto;
        padding: 0.2rem;
        border-radius: 0.5rem;
        background: black;
        font-size: 1.2rem;
    }
    .icons a{
        padding-left: 0.3rem;
        color: white;
    }
    .icons a:hover{
        color: #2020e9;
    }
    .icons a i{
        padding-right: 0.2rem;
        color: #5353b3;
    }
    .content h3{
        padding-top: 1.5rem;
        text-transform: capitalize;
        font-weight: 500;
    }
    .content p{
        color: #726a6a;
    }
}
.contact .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.contact .row .info-container{
    width: 45rem;
    .get{
        margin-bottom: 2rem;
        h3{
            color: white;
            padding-bottom: 3rem;
            text-transform: uppercase;
            font-size: 2rem;
        }
        p{
            color: #857e7e;
            line-height: 2rem;
        }
    }
   .in{
   margin-bottom: 0.6rem;
      i{
        color: #08088d;
        font-size: 1.4rem;
      }
      span{
        color: white;
        font-size: 1.1rem;
        padding-left: 0.3rem;
      }
      p{
        color: #857e7e;
        padding-left: 2rem;
        text-transform: none;
      }
      
   }
   .share{
    a{
        font-size: 1rem;
        height: 2rem;
        width: 2rem;
        line-height: 2rem;
        border-radius: 50%;
        background: #08088d;
        color: white;
        margin-right: 0.5rem;
    }
    a:hover{
        border: solid 1px #08088d;
        background: none;
    }
   }
}
form{
    flex: 1 1 42rem;
    .input-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    input{
        width: 46%;
        color: white;
    }
    .input-box input, textarea{
        border-radius: 3rem;
        padding: 1rem;
        margin: 0.3rem 0;
        text-transform: none;
        font-size: 1rem;
        background: #353333;
    }
    textarea{
        width: 100%;
        color: white;
        resize: none;
        height: 12rem;
    }
    .btn{
        width: fit-content;
        background: #5353b3;
    } 
}
/* respnsive ---------------------------------------------------------------------------*/
@media(max-width: 1300px) {
    html {
        font-size: 80%;
    }
}

@media(max-width: 1280px) {
    .home {
        text-align: center;
    }
    
    .home .profile img{
        height: 32rem;
        width: 32rem;
    }

    .content {
        text-align: center;
    }
}
@media (max-width: 780px)
{
    form .input-box input{
        width: 100%;
    }
}
@media(max-width: 720px)
{
    html{
        font-size: 75%;
    }
}
@media(max-width: 555px)
{
    html{
        font-size: 65%;
    }
}
@media(max-width: 480px)
{
    html{
        font-size: 50%;
    }
    .navbar a span{
        display: none;
    }
    .navbar a i{
        font-size: 1.8rem;
    }
    .content h1{
        font-size: 2.8rem;
    }
    .content span{
        font-size: 2.2rem;
    }
    .content p{
        font-size: 2rem;
    }
    .btn{
        font-size: 1.7rem;
    }
    .info-container .btn{
        width: 15rem;
    }
    .info-container .box-container .box h3{
        font-size: 1.4rem;
    }
}
@media(max-width: 320px)
{
    html{
        font-size: 42%;
    }
    .education .box-container .box span{
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }
}